In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('https://raw.githubusercontent.com/AshishJangra27/Data-Science-Specialization/main/Week%20-12/IMDB%20-%20One%20Hot%20Encoding%20Genre/imdb.csv')
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [24]:
# 1.1) removing columns

In [25]:
del df['Certificate']
del df['Runtime']
del df['Meta_score']
del df['Director']
del df['Star1']
del df['Star2']
del df['Star3']
del df['Star4']
del df['No_of_Votes']
del df['Gross']
del df['Poster_Link']
del df['Released_Year']
del df['IMDB_Rating']
del df['Overview']
df.head()

               Series_Title                 Genre
0  The Shawshank Redemption                 Drama
1             The Godfather          Crime, Drama
2           The Dark Knight  Action, Crime, Drama
3    The Godfather: Part II          Crime, Drama
4              12 Angry Men          Crime, Drama

In [26]:
# 1.2) checking the null values

In [27]:
df.isnull().sum()

Series_Title    0
Genre           0
dtype: int64

In [28]:
# 1.3) Finding all the genre

In [29]:
genre = []
for i in df['Genre']:
    genre += (i.split(','))
genre = [i.strip() for i in genre]

genre = (list(set(genre)))

# representation 
### this is termed to be as one hot representation 


####                      'Action'       'Crime'         'Drama'
#### 'Action'                [1,              0,                0]
#### 'Crime'                 [0,              1,                0]
#### 'Drama'                [0,              0,                1]
#### 'Drama , Crime '  [0,              1,                1]
#### 'Action, Crime '   [1,              1,                0]

# 1.4 one hot conversion

In [30]:
one_hot = []
for i in df['Genre']:
    i = [j.strip() for j in i.split(',')]
    enc = [0 for i in range(21)]
        
    for gen in i :
        enc[genre.index(gen)] = 1
    one_hot.append(enc)

In [31]:
len(one_hot)

1000

In [32]:
# 1.5 one hot conversion - verification

In [33]:
for i in range(len(df['Genre'])):
    x1 = len(df['Genre'][i].split(','))
    x2 = list(one_hot[i]).count(1)
    if x1!=x2:
        print('not Equal')

In [34]:
# converting one_hot data to numpy array

In [35]:
one_hot = np.array(one_hot)
one_hot.shape

(1000, 21)

In [36]:
# 1.7 adding one_hot data to dataframe

In [37]:
for i in range(21):
    df[genre[i]] = one_hot[:,i]
df.head()

,Series_Title,Genre,Fantasy,History,Musical,Romance,Mystery,Film-Noir,Horror,Thriller,...,Adventure,Sci-Fi,Drama,Animation,Family,Music,Biography,Comedy,Western,Crime
0,The Shawshank Redemption,Drama,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,The Godfather,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,The Dark Knight,"Action, Crime, Drama",0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,The Godfather: Part II,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,12 Angry Men,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

# prediction

##  2.1 with exact genre

In [38]:
user = df[df['Series_Title']== 'The Godfather'].values[0][2:]

In [39]:
user

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1],
      dtype=object)

In [40]:
for i in df.values:
    if (list(user - i[2:]).count(0)) == len(user):
        print(i[0],'|',i[1])

The Godfather | Crime, Drama
The Godfather: Part II | Crime, Drama
12 Angry Men | Crime, Drama
Pulp Fiction | Crime, Drama
Cidade de Deus | Crime, Drama
Once Upon a Time in America | Crime, Drama
Scarface | Crime, Drama
Taxi Driver | Crime, Drama
Casino | Crime, Drama
To Kill a Mockingbird | Crime, Drama
La haine | Crime, Drama
Cool Hand Luke | Crime, Drama
Les quatre cents coups | Crime, Drama
Dogville | Crime, Drama
Bound by Honor | Crime, Drama
Manbiki kazoku | Crime, Drama
Bir Zamanlar Anadolu'da | Crime, Drama
Un prophète | Crime, Drama
Once Were Warriors | Crime, Drama
Drive | Crime, Drama
Lilja 4-ever | Crime, Drama
Boyz n the Hood | Crime, Drama
À bout de souffle | Crime, Drama
This Is England | Crime, Drama
Leviafan | Crime, Drama
The Godfather: Part III | Crime, Drama

In [41]:
### 2.2) with better recommendation with genre

In [42]:
def mod(lst):
    s = 0
    for i in lst:
        if i < 0:
            s += -i 
        else:
            s += i
    return s

In [43]:
user = df[df['Series_Title']== 'The Godfather'].values[0][2:]

rel =[]

for i in df.values:
    rel.append(mod(i[2:]-user))
df['rel'] = rel
df.sort_values(by='rel').head()

,Series_Title,Genre,Fantasy,History,Musical,Romance,Mystery,Film-Noir,Horror,Thriller,...,Sci-Fi,Drama,Animation,Family,Music,Biography,Comedy,Western,Crime,rel
108,Scarface,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
895,Leviafan,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
111,Taxi Driver,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
71,Once Upon a Time in America,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
639,Lilja 4-ever,"Crime, Drama",0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0